.container{
    text-align: center;
    color: white;
}
.imagens{
text-align: center;
}
body{
    background-color: rgb(146, 126, 126);
}

.voltar{
    color: white;
    text-align: center;
}
.video{
    text-align: center;
}